.cardcontainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 18rem);
    justify-content: space-around;
    margin-top: 1%;
    row-gap: 1em;
}
.addFormActive .cardcontainer {
    width: 80%;
    grid-template-columns: repeat(4, 18rem);
}
h1 {
    display: inline;
    margin: 0;
    padding: 0;
    margin-left: 2%;
}
.viewandupdate {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.delete {
    margin-top: 1em;;
    margin-left: 50%;
    transform: translateX(-50%);
}